*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 40px;
}
.main h1{
    font-size: 40px;
    padding: 20px 0;
    color:	#DC143C ;
}
.allCard{
    display: flex;
    padding: 30px;
    justify-content: space-between;

}
.view-button{
    width: 10%;
    height: 40px;
    font-size: 18px;
    border: none;
    background-color: rgb(28, 243, 28);
}